.section-search-categories 
  .slp-container
    .row
      %h5.semibold
        Search and categories
    .row
      .col-4
        -# %label.blog-search-heading 
        -#   Search the blog
        %input.st-blog.search-blog#search-blog{ type: "text", placeholder: "Search" }
        = partial "includes/social-icon-links.html" 

      .col-7
        .tags-container
          .tag{class: ("active" if current_page.url == "/blog/archives.html")}
            = link_to "/blog/archives.html", :"data-ga-name" => "all", :"data-ga-location" => "sidebar"  do
              All
          .tag{class: ("active" if current_page.url == "/blog/categories/news/")}
            = link_to "/blog/categories/news/", :"data-ga-name" => "news", :"data-ga-location" => "sidebar" do
              News
          .tag{class: ("active" if current_page.url == "/releases/categories/releases/")}
            = link_to "/releases/categories/releases/", :"data-ga-name" => "releases", :"data-ga-location" => "sidebar" do
              releases
          .tag{class: ("active" if current_page.url == "/blog/categories/engineering/")}
            = link_to "/blog/categories/engineering/", :"data-ga-name" => "engineering", :"data-ga-location" => "sidebar" do
              engineering
          .tag{class: ("active" if current_page.url == "/blog/categories/culture/")}
            = link_to "/blog/categories/culture/", :"data-ga-name" => "culture", :"data-ga-location" => "sidebar" do
              culture
          .tag{class: ("active" if current_page.url == "/blog/categories/insights/")}
            = link_to "/blog/categories/insights/", :"data-ga-name" => "insights", :"data-ga-location" => "sidebar" do
              insights
          .tag{class: ("active" if current_page.url == "/blog/categories/company/")}
            = link_to "/blog/categories/company/", :"data-ga-name" => "company", :"data-ga-location" => "sidebar" do
              company
          .tag{class: ("active" if current_page.url == "/blog/categories/security/")}
            = link_to "/blog/categories/security/", :"data-ga-name" => "security", :"data-ga-location" => "sidebar" do
              security
          .tag{class: ("active" if current_page.url == "/blog/categories/devops-platform/")}
            = link_to "/blog/categories/devops-platform/", :"data-ga-name" => "devops platform", :"data-ga-location" => "sidebar" do
              DevOps Platform
          .tag{class: ("active" if current_page.url == "/blog/categories/open-source/")}
            = link_to "/blog/categories/open-source/", :"data-ga-name" => "open source", :"data-ga-location" => "sidebar" do
              open source

       
    